.about-our{
    padding: 102px 0 120px;


    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__info{
        max-width: 611px;

        &--title{
            max-width: 293px;
        }

        &--subtitle{
            line-height: 28px;
            letter-spacing: 0.01em;
            padding: 24px 0 48px;
        }

        &--btn{
            @include button(600, 16px, 20px, $white, 20px, 38px, 20px, 38px, 8px, $main-green);
            transition: 0.3s;

            &:hover{
                background-color: $dark-green;
            }
        }
    }

    &__img{
        position: relative;
        
        &::after{
            content: '';
            position: absolute;
            background: $main-bg-green;
            width: 50%;
            height: 100%;
            top:0;
            right: 0;
            z-index: -1;
            border-radius: 100% 0% 0% 100% / 50% 50% 50% 50% ;
        }
    }
}