@font-face {
    font-family: 'Lora';
    src: url('../fonts/dist/Lora-Bold.woff2') format('woff2'),
        url('../fonts/dist/Lora-Bold.woff') format('woff'),
        url('../fonts/Lora-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lora';
    src: url('../fonts/dist/Lora-Medium.woff2') format('woff2'),
        url('../fonts/dist/Lora-Medium.woff') format('woff'),
        url('../fonts/Lora-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lora';
    src: url('../fonts/dist/Lora-Regular.woff2') format('woff2'),
        url('../fonts/dist/Lora-Regular.woff') format('woff'),
        url('../fonts/Lora-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}






@font-face {
    font-family: 'Poppins';
    src: url('../fonts/dist/Poppins-Bold.woff2') format('woff2'),
        url('../fonts/dist/Poppins-Bold.woff') format('woff'),
        url('../fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/dist/Poppins-Medium.woff2') format('woff2'),
        url('../fonts/dist/Poppins-Medium.woff') format('woff'),
        url('../fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/dist/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/dist/Poppins-Regular.woff') format('woff'),
        url('../fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/dist/Poppins-SemiBold.woff2') format('woff2'),
        url('../fonts/dist/Poppins-SemiBold.woff') format('woff'),
        url('../fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}



* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}


html,
body {
    height: 100%;
    width: 100%;
    font-style: normal;
    border-color: $main-bg-white;
    @include main-font-poppins(16px, $desactive-text, 400);
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
}

.wrapper {
    overflow: hidden;
}


.container{
    max-width: 1110px;
    margin: 0 auto;
    
}

.second-header{
    @include text-opt(40px, $main-black, 56px, 500, "Lora");
    text-transform: capitalize;

    @media screen and (max-width: 970px) {
        font-size: 33px;

        @media screen and (max-width:550px) {
            font-size: 27px;
            line-height: 33px;
        }
    }
}
.text-second-header{
    @include text-opt(16px, $desactive-text, 26px, 400, "Poppins");
    text-transform: capitalize;
}

.third-header{
    @include text-opt(24px, $main-black, 32px, 500, "Lora")
}


.header-swiper{
    @include text-opt(24px, $desactive-text, 32px, 700, "Lora")
}

.header-swiper-active{
    @include text-opt(24px, $white, 32px, 700, "Lora")
}
.text-swiper-active{
    @include text-opt(16px, $white, 24px, 400, "Poppins")
}

.price{
    @include text-opt(26px, $main-green, 22px, 500, "Lora")
}
.price-active{
    @include text-opt(26px, $white, 22px, 500, "Lora")
}

.header-footer{
    @include text-opt(24px, $main-black, 32px, 500, "Lora")
}
.footer-links{
    @include text-opt(16px, $desactive-text, 46px, 500, "Poppins")
}



.section-first-content{
    position: relative;


    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 61%;
        width: 70%;
        border-radius: 0px 0px 0px 450px;
        background: linear-gradient(90deg, rgba(201, 253, 214, 0.01) 1%, #C9FDD6 100%);
        z-index:-2;
    }
}

.line-bg{
    position: absolute;
    top:0;
    right: 0;
}

.svg-main-bg-dims { width: 509px; height: 481px; }



.stop-scrolling{
    overflow: hidden;
    position: relative;
}


.container-loader{
    z-index: 10000;
    top:0;
    left: 0;
    overflow: hidden;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $main-bg-green;
    width: 100%;
    height: 100%;
}
.lds-ring {
    display: inline-block;
    position: relative;
    background-color: $main-bg-green;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid $main-green;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $main-green transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  