.benefits{
    width: 100%;
    padding: 100px 10px;
    background-color: $main-bg-green;

    @media screen and ( max-width: 970px) {
        padding:50px 10px;
    }

    &__header{
        text-align: center;
        margin-bottom: 59px;

        @media screen and ( max-width: 970px) {
            margin-bottom: 25px;
        }
    }


    &__list{
        display: flex;
        justify-content: space-between;

        @media screen and ( max-width: 660px) {
           flex-direction: column;
           align-items: center;
        }
    }


    &__item{
        max-width: 285px;
        display: flex;
        align-items: center;
        flex-direction: column;

        @media screen and ( max-width: 970px) {
            max-width: 200px;

            @media screen and ( max-width: 660px) {
                max-width: 285px;
                padding-bottom: 25px;
            }
        }


        &--img{
            width: 55px;
            height: 55px;
        }

        &--subtitle{
            text-align: center;
        }

        &--title{
            padding: 28px 0 14px;
        }
    }
}