header{
    padding: 10px;

    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.svg-shop-dims { width: 24px; height: 24px; }

.navigation-section{
    max-width: 660px;
    width: 100%;
    position: relative;

    @media screen and (max-width: 820px) {
        height: 50px;

    }
}

.navigation-container{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .3s;
    
    @media screen and (max-width: 820px) {
        position: absolute;
        right: calc(-100% - 10px); 
        top:-10px;
        flex-direction: column;
        z-index: 20;
        background-color: $main-bg-green;
        justify-content:start;
        padding: 20px;
        width: 90%;
    }
    
}

.active-menu{
    right: -10px;
    height: 100vh ;
}

.navigation-list{
    &__item{
        &--link{
            @include main-font-poppins(16px, $main-black, 500);
            transition: .3s;

            &:hover{
                color:$main-green;
            }
        }


        &--login{
            a{
                font-weight: 500;
                font-size: 16px;
                color:$desactive-text;
            }
           
            .active-login{
                color: $main-green;
            }
        }

        @media screen and (max-width: 820px) {
            margin-bottom: 20px;
            width: 400px;
            text-align: end;
            display: flex;
            justify-content: end;
        }
    }
    @media screen and (max-width: 820px){
        margin-top: 50px;
    }
}

.hamburger{
    width: 30px;
    display: none;
    padding: 13px 10px;
    position: absolute;
    z-index: 22;
    right: 10px;

    span{
        margin: 5px 0 ;
        display: block;
        width: 28px;
        height: 4px;
        border-radius: 3px;
        background-color: $main-black;
        transition: .3s;

        &:first-child{
            margin: 0;
        }
    }


    @media screen and (max-width: 820px) {
        display: block;
    }
}



.active-humb{
    span{
        position: relative;
        &:first-child{
            transform: rotate(45deg);
            top:9px;
        }
        &:nth-child(2){
            opacity: 0;
        }
        &:last-child{
            transform: rotate(-45deg);
            bottom: 9px;
        }
    }
}











