.search{
  padding: 130px 0 ;

  @media screen and  (max-width: 970px) {
      padding: 50px 10px;
  }


  &__header{
    text-align: center;
    padding-bottom: 60px;

    @media screen and  (max-width: 970px) {
      padding-bottom: 30px;
    }

  }


  &__form{
    display: flex;
    justify-content: center;

    &--input{
      background: #F9FCFB;
      opacity: 0.9;
      border: 1px solid #E5E5E5;
      border-radius: 8px;
      padding: 23px 20px;
      width: 415px;
      margin-right: 24px;

      @media screen and  (max-width: 650px) {
        width: 215px;
        padding: 13px 10px;

        @media screen and  (max-width: 380px) {
          width: 200px;
          padding: 10px 8px;
        }
      }
    }

    &--btn{
      @include button(500, 18px, 27px, $white, 22px, 44px, 21px, 44px, 8px, $main-green);
      transition: 0.3s;

      @media screen and  (max-width: 650px) {
        font-size: 16px;
        padding: 13px 10px;

          @media screen and  (max-width: 380px) {
            font-size: 14px;
            padding: 7px 6px;
            line-height: 14px;
          }
      }

      &:hover{
        background-color: $dark-green;
      }
    }
  }
}



