.search{
  padding: 130px 0 ;


  &__header{
    text-align: center;
    padding-bottom: 60px;
  }


  &__form{
    display: flex;
    justify-content: center;

    &--input{
      background: #F9FCFB;
      opacity: 0.9;
      border: 1px solid #E5E5E5;
      border-radius: 8px;
      padding: 23px 20px;
      width: 415px;
      margin-right: 24px;
    }

    &--btn{
      @include button(500, 18px, 27px, $white, 22px, 44px, 21px, 44px, 8px, $main-green);
      transition: 0.3s;

      &:hover{
        background-color: $dark-green;
      }
    }
  }
}



