.services{
    padding: 100px 0;

    &__header{
        text-align: center;
    }

    &__subtitle{
        padding: 16px 0 80px;
        text-align: center;
        max-width: 663px;
        margin: 0 auto;
    }

    .services-container{
        max-width: 1140px;
    }
}


.services-info{
    display: flex;
    justify-content: space-between;
    

    // &__text-block:nth-of-type(2){
    //     padding: 48px 0 74px;

    // }
    &__first-row, &__third-row{
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        &--subtitle{
            padding-top: 14px;
        }
    }

    &__second-row{
        margin-right: 23px;
        max-width: 411px;
        max-height: 406px;
        position: relative;
        
        img{
            width: 100%;
            height: 100%;

        }

        &::after{
            content: '';
            background-color: #C9FDD6;
            filter: blur(250px);
            position: absolute;
            width: 100%;
            height: 100%;
            top:0;
            right: 0;
            z-index: -1;
        }
    }
    &__text-block{
        max-width: 353px;
        flex-grow: 1;
    }
}