$main-bg-white: #E5E5E5;
$main-bg-green: #F1FEF4;

$main-header-grad:linear-gradient(90deg, rgba(201, 253, 214, 0) 30%, #C9FDD6 100%);
$header-swiper-grad:linear-gradient(0deg, #91C89E 0%, rgba(219, 249, 226, 0) 100%);


$active-shadow-arr-circl:0px 10px 20px rgba(4, 84, 23, 0.2);


$main-green:#05A42C;
$main-black:#333333;

$dark-green:#046D1E;

$desactive-text:#808080;

$white:#FFFFFF;


$red:#FF5B5B;