<div class="swiper comments-swiper">
    <div class="swiper-wrapper comments-swiper__wrapper">
      <div class="swiper-slide comments-swiper__slide">
        <div class="comments-swiper__img-user">
            <picture>
                <source srcset="./img-dist/comments-user-2.avif" type="image/avif">
                <source srcset="./img-dist/comments-user-2.webp" type="image/webp">
                <source srcset="./img-dist/comments-user-2.png" type="image/png">
                <img src="./img-dist/comments-user-2.png" alt="Plant">
            </picture>
        </div>
         <h3 class="comments-swiper__header header-swiper">
            Maria Samper - MADRID   
        </h3>
        <div class="comments-swiper__stars">
            <span><img src="./img-dist/sprite.svg#green-star-full" alt="star"></span><span><img src="./img-dist/sprite.svg#green-star-full" alt="star"></span><span><img src="./img-dist/sprite.svg#green-star-full" alt="star"></span><span><img src="./img-dist/sprite.svg#green-star-full" alt="star"></span><span><img src="./img-dist/sprite.svg#green-star-full" alt="star"></span>
        </div>
         <p class="comments-swiper__comment text-swiper-active">
            <span>“</span>We had Customer Service! I'm just starting out withthe team helped me so much with integrating thisinto my website. so much with integrating thisinto my website.
        </p>
      </div>
      <div class="swiper-slide comments-swiper__slide">
        <div class="comments-swiper__img-user">
            <picture>
                <source srcset="./img-dist/comments-user-1.avif" type="image/avif">
                <source srcset="./img-dist/comments-user-1.webp" type="image/webp">
                <source srcset="./img-dist/comments-user-1.png" type="image/png">
                <img src="./img-dist/comments-user-1.png" alt="Plant">
            </picture>
        </div>
         <h3 class="comments-swiper__header header-swiper">
            Maria Samper - MADRID
        </h3>
        <div class="comments-swiper__stars">
            <span><img src="./img-dist/sprite.svg#green-star-full" alt="star"></span><span><img src="./img-dist/sprite.svg#green-star-full" alt="star"></span><span><img src="./img-dist/sprite.svg#green-star-full" alt="star"></span><span><img src="./img-dist/sprite.svg#green-star-full" alt="star"></span><span><img src="./img-dist/sprite.svg#empty-star-gray" alt="star"></span>
        </div>
         <p class="comments-swiper__comment text-swiper-active">
            <span>“</span>We had Customer Service! I'm just starting out withthe team helped me so much with integrating thisinto my website. so much with integrating thisinto my website.
        </p>
      </div>
      <div class="swiper-slide comments-swiper__slide">
        <div class="comments-swiper__img-user">
            <picture>
                <source srcset="./img-dist/comments-user-2.avif" type="image/avif">
                <source srcset="./img-dist/comments-user-2.webp" type="image/webp">
                <source srcset="./img-dist/comments-user-2.png" type="image/png">
                <img src="./img-dist/comments-user-2.png" alt="Plant">
            </picture>
        </div>
         <h3 class="comments-swiper__header header-swiper">
            Maria Samper - MADRID
        </h3>
        <div class="comments-swiper__stars">
            <span><img src="./img-dist/sprite.svg#green-star-full" alt="star"></span><span><img src="./img-dist/sprite.svg#green-star-full" alt="star"></span><span><img src="./img-dist/sprite.svg#green-star-full" alt="star"></span><span><img src="./img-dist/sprite.svg#green-star-full" alt="star"></span><span><img src="./img-dist/sprite.svg#green-star-full" alt="star"></span>

        </div>
         <p class="comments-swiper__comment text-swiper-active">
            <span>“</span>We had Customer Service! I'm just starting out withthe team helped me so much with integrating thisinto my website. so much with integrating thisinto my website.
        </p>
      </div>
      <div class="swiper-slide comments-swiper__slide">
        <div class="comments-swiper__img-user">
            <picture>
                <source srcset="./img-dist/comments-user-1.avif" type="image/avif">
                <source srcset="./img-dist/comments-user-1.webp" type="image/webp">
                <source srcset="./img-dist/comments-user-1.png" type="image/png">
                <img src="./img-dist/comments-user-1.png" alt="Plant">
            </picture>
        </div>
         <h3 class="comments-swiper__header header-swiper">
            Maria Samper - MADRID
        </h3>
        <div class="comments-swiper__stars">
            <span><img src="./img-dist/sprite.svg#green-star-full" alt="star"></span><span><img src="./img-dist/sprite.svg#green-star-full" alt="star"></span><span><img src="./img-dist/sprite.svg#green-star-full" alt="star"></span><span><img src="./img-dist/sprite.svg#green-star-full" alt="star"></span><span><img src="./img-dist/sprite.svg#empty-star-gray" alt="star"></span>

        </div>
         <p class="comments-swiper__comment text-swiper-active">
            <span>“</span>We had Customer Service! I'm just starting out withthe team helped me so much with integrating thisinto my website. so much with integrating thisinto my website.
        </p>
      </div>
      <div class="swiper-slide comments-swiper__slide">
        <div class="comments-swiper__img-user">
            <picture>
                <source srcset="./img-dist/comments-user-2.avif" type="image/avif">
                <source srcset="./img-dist/comments-user-2.webp" type="image/webp">
                <source srcset="./img-dist/comments-user-2.png" type="image/png">
                <img src="./img-dist/comments-user-2.png" alt="Plant">
            </picture>
        </div>
        <h3 class="comments-swiper__header header-swiper">
            Maria Samper - MADRID
        </h3>
        <div class="comments-swiper__stars">
            <span><img src="./img-dist/sprite.svg#green-star-full" alt="star"></span><span><img src="./img-dist/sprite.svg#green-star-full" alt="star"></span><span><img src="./img-dist/sprite.svg#green-star-full" alt="star"></span><span><img src="./img-dist/sprite.svg#green-star-full" alt="star"></span><span><img src="./img-dist/sprite.svg#green-star-full" alt="star"></span>

        </div>
         <p class="comments-swiper__comment text-swiper-active">
            <span>“</span>We had Customer Service! I'm just starting out withthe team helped me so much with integrating thisinto my website. so much with integrating thisinto my website.
        </p>
      </div>
      <div class="swiper-slide comments-swiper__slide">
        <div class="comments-swiper__img-user">
            <picture>
                <source srcset="./img-dist/comments-user-1.avif" type="image/avif">
                <source srcset="./img-dist/comments-user-1.webp" type="image/webp">
                <source srcset="./img-dist/comments-user-1.png" type="image/png">
                <img src="./img-dist/comments-user-1.png" alt="Plant">
            </picture>
        </div>
         <h3 class="comments-swiper__header header-swiper">
            Maria Samper - MADRID
        </h3>
        <div class="comments-swiper__stars">
            <span><img src="./img-dist/sprite.svg#green-star-full" alt="star"></span><span><img src="./img-dist/sprite.svg#green-star-full" alt="star"></span><span><img src="./img-dist/sprite.svg#green-star-full" alt="star"></span><span><img src="./img-dist/sprite.svg#green-star-full" alt="star"></span><span><img src="./img-dist/sprite.svg#empty-star-gray" alt="star"></span>

        </div>
         <p class="comments-swiper__comment text-swiper-active">
            <span>“</span>We had Customer Service! I'm just starting out withthe team helped me so much with integrating thisinto my website. so much with integrating thisinto my website.
        </p>
      </div>
      <div class="swiper-slide comments-swiper__slide">
        <div class="comments-swiper__img-user">
            <picture>
                <source srcset="./img-dist/comments-user-2.avif" type="image/avif">
                <source srcset="./img-dist/comments-user-2.webp" type="image/webp">
                <source srcset="./img-dist/comments-user-2.png" type="image/png">
                <img src="./img-dist/comments-user-2.png" alt="Plant">
            </picture>
        </div>
         <h3 class="comments-swiper__header header-swiper">
            Maria Samper - MADRID
        </h3>
        <div class="comments-swiper__stars">
            <span><img src="./img-dist/sprite.svg#green-star-full" alt="star"></span><span><img src="./img-dist/sprite.svg#green-star-full" alt="star"></span><span><img src="./img-dist/sprite.svg#green-star-full" alt="star"></span><span><img src="./img-dist/sprite.svg#green-star-full" alt="star"></span><span><img src="./img-dist/sprite.svg#green-star-full" alt="star"></span>

        </div>
         <p class="comments-swiper__comment text-swiper-active">
            <span>“</span>We had Customer Service! I'm just starting out withthe team helped me so much with integrating thisinto my website. so much with integrating thisinto my website.
        </p>
      </div>
      <div class="swiper-slide comments-swiper__slide">
        <div class="comments-swiper__img-user">
            <picture>
                <source srcset="./img-dist/comments-user-1.avif" type="image/avif">
                <source srcset="./img-dist/comments-user-1.webp" type="image/webp">
                <source srcset="./img-dist/comments-user-1.png" type="image/png">
                <img src="./img-dist/comments-user-1.png" alt="Plant">
            </picture>
        </div>
         <h3 class="comments-swiper__header header-swiper">
            Maria Samper - MADRID
        </h3>
        <div class="comments-swiper__stars">
            <span><img src="./img-dist/sprite.svg#green-star-full" alt="star"></span><span><img src="./img-dist/sprite.svg#green-star-full" alt="star"></span><span><img src="./img-dist/sprite.svg#green-star-full" alt="star"></span><span><img src="./img-dist/sprite.svg#green-star-full" alt="star"></span><span><img src="./img-dist/sprite.svg#empty-star-gray" alt="star"></span>

        </div>
         <p class="comments-swiper__comment text-swiper-active">
            <span>“</span>We had Customer Service! I'm just starting out withthe team helped me so much with integrating thisinto my website. so much with integrating thisinto my website.
        </p>
      </div>
      <div class="swiper-slide comments-swiper__slide">
        <div class="comments-swiper__img-user">
            <picture>
                <source srcset="./img-dist/comments-user-2.avif" type="image/avif">
                <source srcset="./img-dist/comments-user-2.webp" type="image/webp">
                <source srcset="./img-dist/comments-user-2.png" type="image/png">
                <img src="./img-dist/comments-user-2.png" alt="Plant">
            </picture>
        </div>
         <h3 class="comments-swiper__header header-swiper">
            Maria Samper - MADRID
        </h3>
        <div class="comments-swiper__stars">
            <span><img src="./img-dist/sprite.svg#green-star-full" alt="star"></span><span><img src="./img-dist/sprite.svg#green-star-full" alt="star"></span><span><img src="./img-dist/sprite.svg#green-star-full" alt="star"></span><span><img src="./img-dist/sprite.svg#green-star-full" alt="star"></span><span><img src="./img-dist/sprite.svg#green-star-full" alt="star"></span>

        </div>
         <p class="comments-swiper__comment text-swiper-active">
            <span>“</span>We had Customer Service! I'm just starting out withthe team helped me so much with integrating thisinto my website. so much with integrating thisinto my website.
        </p>
      </div>
    </div>
    <!-- <div class="swiper-button-next-comments"></div>
    <div class="swiper-button-prev-comments"></div> -->
  </div>