<header>
    <div class="container">
        <div class="logo">
            <a href="#" class="logo__link">
                <picture class="logo__link--img">
                    <source srcset="./img-dist/logo.avif" type="image/avif">
                    <source srcset="./img-dist/logo.webp" type="image/webp">
                    <source srcset="./img-dist/logo.png" type="image/png">
                    <img src="./img-dist/logo.png" alt="Pronia">
                </picture>
            </a>
        </div>


        <nav class="navigation-section">

            <div class="hamburger" id="menu">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <ul class="navigation-container " id="container-navigation">
                <li class="navigation-list__item">
                    <a href="#" class="navigation-list__item--link">Home</a>
                </li>
                <li class="navigation-list__item">
                    <a href="#" class="navigation-list__item--link">About Us</a>
                </li>
                <li class="navigation-list__item">
                    <a href="#" class="navigation-list__item--link">Products</a>
                </li>
                <li class="navigation-list__item">
                    <a href="#" class="navigation-list__item--link">Testimonials</a>
                </li>
                <li class="navigation-list__item">
                    <span class="navigation-list__item--login active-login">
                        <a href="#" class="active-login">Login</a>
                    </span>
                    /
                    <span class="navigation-list__item--login">
                        <a href="#">SingUp</a>
                    </span>
                </li>
                <li class="navigation-list__item">
                    <a href="#" class="navigation-list__item--link">
                        <img class="svg-shop-dims" src="./img-dist/sprite.svg#shop" alt="Shop">
                    </a>
                </li>
            </ul>

        </nav>
    </div>

</header>