<div class="swiper mySwiper">
  <div class="swiper-wrapper swiper__container">
    <div class="swiper-slide swiper__element">
      <!-- <div class="swiper__block-photo"> -->
      <picture class="swiper__block-photo">
        <source srcset="./img-dist/header-swiper-plant-1.avif" type="image/avif">
        <source srcset="./img-dist/header-swiper-plant-1.webp" type="image/webp">
        <source srcset="./img-dist/header-swiper-plant-1.png" type="image/png">
        <img src="./img-dist/header-swiper-plant-1.png" alt="Product">
      </picture>
      <!-- </div> -->
      <!-- <div class="info-product"> -->
        <h3 class="swiper__name-product">Chinese Swamp Cypress</h3>
        <span class="swiper__price">$54</span>
      <!-- </div> -->
    </div>
    <div class="swiper-slide swiper__element">
      <!-- <div class="swiper__block-photo"> -->
      <picture class="swiper__block-photo">
        <source srcset="./img-dist/header-swiper-plant-2.avif" type="image/avif">
        <source srcset="./img-dist/header-swiper-plant-2.webp" type="image/webp">
        <source srcset="./img-dist/header-swiper-plant-2.png" type="image/png">
        <img src="./img-dist/header-swiper-plant-2.png" alt="Product">
      </picture>
      <!-- </div> -->
      <h3 class="swiper__name-product">Black Mangrove Tree</h3>
      <span class="swiper__price">$60</span>
    </div>
    <div class="swiper-slide swiper__element">
      <!-- <div class="swiper__block-photo"> -->
      <picture class="swiper__block-photo">
        <source srcset="./img-dist/header-swiper-plant-3.avif" type="image/avif">
        <source srcset="./img-dist/header-swiper-plant-3.webp" type="image/webp">
        <source srcset="./img-dist/header-swiper-plant-3.png" type="image/png">
        <img src="./img-dist/header-swiper-plant-3.png" alt="Product">
      </picture>
      <!-- </div> -->
      <h3 class="swiper__name-product">Cabbage Trees</h3>
      <span class="swiper__price">$37</span>
    </div>
    <div class="swiper-slide swiper__element">
      <!-- <div class="swiper__block-photo"> -->
      <picture class="swiper__block-photo">
        <source srcset="./img-dist/header-swiper-plant-2.avif" type="image/avif">
        <source srcset="./img-dist/header-swiper-plant-2.webp" type="image/webp">
        <source srcset="./img-dist/header-swiper-plant-2.png" type="image/png">
        <img src="./img-dist/header-swiper-plant-2.png" alt="Product">
      </picture>
      <!-- </div> -->
      <h3 class="swiper__name-product">Black Mangrove Tree</h3>
      <span class="swiper__price">$60</span>
    </div>
    <div class="swiper-slide swiper__element">
      <!-- <div class="swiper__block-photo"> -->
      <picture class="swiper__block-photo">
        <source srcset="./img-dist/header-swiper-plant-3.avif" type="image/avif">
        <source srcset="./img-dist/header-swiper-plant-3.webp" type="image/webp">
        <source srcset="./img-dist/header-swiper-plant-3.png" type="image/png">
        <img src="./img-dist/header-swiper-plant-3.png" alt="Product">
      </picture>
      <!-- </div> -->
      <h3 class="swiper__name-product">Cabbage Trees</h3>
      <span class="swiper__price">$37</span>
    </div>
    <div class="swiper-slide swiper__element">
      <!-- <div class="swiper__block-photo"> -->
      <picture class="swiper__block-photo">
        <source srcset="./img-dist/header-swiper-plant-1.avif" type="image/avif">
        <source srcset="./img-dist/header-swiper-plant-1.webp" type="image/webp">
        <source srcset="./img-dist/header-swiper-plant-1.png" type="image/png">
        <img src="./img-dist/header-swiper-plant-1.png" alt="Product">
      </picture>
      <!-- </div> -->
      <h3 class="swiper__name-product">Chinese Swamp Cypress</h3>
      <span class="swiper__price">$54</span>
    </div>
    <div class="swiper-slide swiper__element">
      <!-- <div class="swiper__block-photo"> -->
      <picture class="swiper__block-photo">
        <source srcset="./img-dist/header-swiper-plant-3.avif" type="image/avif">
        <source srcset="./img-dist/header-swiper-plant-3.webp" type="image/webp">
        <source srcset="./img-dist/header-swiper-plant-3.png" type="image/png">
        <img src="./img-dist/header-swiper-plant-3.png" alt="Product">
      </picture>
      <!-- </div> -->
      <h3 class="swiper__name-product">Cabbage Trees</h3>
      <span class="swiper__price">$37</span>
    </div>
    <div class="swiper-slide swiper__element">
      <!-- <div class="swiper__block-photo"> -->
      <picture class="swiper__block-photo">
        <source srcset="./img-dist/header-swiper-plant-1.avif" type="image/avif">
        <source srcset="./img-dist/header-swiper-plant-1.webp" type="image/webp">
        <source srcset="./img-dist/header-swiper-plant-1.png" type="image/png">
        <img src="./img-dist/header-swiper-plant-1.png" alt="Product">
      </picture>
      <!-- </div> -->
      <h3 class="swiper__name-product">Chinese Swamp Cypress</h3>
      <span class="swiper__price">$54</span>
    </div>
    <div class="swiper-slide swiper__element">
      <!-- <div class="swiper__block-photo"> -->
      <picture class="swiper__block-photo">
        <source srcset="./img-dist/header-swiper-plant-2.avif" type="image/avif">
        <source srcset="./img-dist/header-swiper-plant-2.webp" type="image/webp">
        <source srcset="./img-dist/header-swiper-plant-2.png" type="image/png">
        <img src="./img-dist/header-swiper-plant-2.png" alt="Product">
      </picture>
      <!-- </div> -->
      <h3 class="swiper__name-product">Black Mangrove Tree</h3>
      <span class="swiper__price">$60</span>
    </div>
  </div>

  <div class="swiper-btn-block">
    <div class="swiper-button-next header-swiper-btn header-swiper-next"></div>
    <div class="swiper-button-prev header-swiper-btn header-swiper-prev"></div>
  </div>
  
</div>