<div class="selling-swiper mySwiper-selling swiper">
    <div class="selling-swiper-wrapper swiper-wrapper">
        <div class="selling-swiper__slide swiper-slide">

            <div class="selling-swiper__main-img">
                <picture>
                    <source srcset="./img-dist/sell-tree-swiper-1.avif" type="image/avif">
                    <source srcset="./img-dist/sell-tree-swiper-1.webp" type="image/webp">
                    <source srcset="./img-dist/sell-tree-swiper-1.png" type="image/png">
                    <img src="./img-dist/sell-tree-swiper-1.png" alt="Product"  class="sell-img">
                </picture>
            </div>

            <div class="selling-swiper__stars-block">
                <span class="stars-info">
                    <img class="green-star" src="./img-dist/sprite.svg#green-star-full" alt="star">
                    <img class="white-star" src="./img-dist/sprite.svg#white-star-full" alt="star">
                </span>
                <span class="stars-info">
                    <img class="green-star" src="./img-dist/sprite.svg#green-star-full" alt="star">
                    <img class="white-star" src="./img-dist/sprite.svg#white-star-full" alt="star">
                </span>
                <span class="stars-info">
                    <img class="green-star" src="./img-dist/sprite.svg#green-star-full" alt="star">
                    <img class="white-star" src="./img-dist/sprite.svg#white-star-full" alt="star">
                </span>
                <span class="stars-info">
                    <img class="green-star" src="./img-dist/sprite.svg#green-star-full" alt="star">
                    <img class="white-star" src="./img-dist/sprite.svg#white-star-full" alt="star">
                </span>
                <span class="stars-info">
                    <img class="green-star" src="./img-dist/sprite.svg#green-star-full" alt="star">
                    <img class="white-star" src="./img-dist/sprite.svg#white-star-full" alt="star">
                </span>
            </div>
            <h3 class="selling-swiper__header">Delightful Dieffenbachia</h3>
            <p class="selling-swiper__subtitle">It is a long established fact that a reader will be distracted.</p>
            <div class="selling-swiper__buy">
                <p class="selling-swiper__buy--price price">$54.70</p>
                <a href="#" class="selling-swiper__buy--btn">Buy Now</a>
            </div>
        </div>
        <div class="selling-swiper__slide swiper-slide">
            <div class="selling-swiper__main-img">
                <picture>
                    <source srcset="./img-dist/sell-tree-swiper-2.avif" type="image/avif">
                    <source srcset="./img-dist/sell-tree-swiper-2.webp" type="image/webp">
                    <source srcset="./img-dist/sell-tree-swiper-2.png" type="image/png">
                    <img src="./img-dist/sell-tree-swiper-2.png" alt="Product"  class="sell-img">
                </picture>
            </div>

            <div class="selling-swiper__stars-block">
                <span class="stars-info">
                    <img class="green-star" src="./img-dist/sprite.svg#green-star-full" alt="star">
                    <img class="white-star" src="./img-dist/sprite.svg#white-star-full" alt="star">
                </span>
                <span class="stars-info">
                    <img class="green-star" src="./img-dist/sprite.svg#green-star-full" alt="star">
                    <img class="white-star" src="./img-dist/sprite.svg#white-star-full" alt="star">
                </span>
                <span class="stars-info">
                    <img class="green-star" src="./img-dist/sprite.svg#green-star-full" alt="star">
                    <img class="white-star" src="./img-dist/sprite.svg#white-star-full" alt="star">
                </span>
                <span class="stars-info">
                    <img class="green-star" src="./img-dist/sprite.svg#green-star-full" alt="star">
                    <img class="white-star" src="./img-dist/sprite.svg#white-star-full" alt="star">
                </span>
                <span class="stars-info">
                    <img class="green-star" src="./img-dist/sprite.svg#green-star-full" alt="star">
                    <img class="white-star" src="./img-dist/sprite.svg#white-star-full" alt="star">
                </span>
            </div>
            <h3 class="selling-swiper__header">Delightful Dieffenbachia</h3>
            <p class="selling-swiper__subtitle">It is a long established fact that a reader will be distracted.</p>
            <div class="selling-swiper__buy">
                <p class="selling-swiper__buy--price price">$54.70</p>
                <a href="#" class="selling-swiper__buy--btn">Buy Now</a>
            </div>
        </div>
        <div class="selling-swiper__slide swiper-slide">
            <div class="selling-swiper__main-img">
                <picture>
                    <source srcset="./img-dist/sell-tree-swiper-3.avif" type="image/avif">
                    <source srcset="./img-dist/sell-tree-swiper-3.webp" type="image/webp">
                    <source srcset="./img-dist/sell-tree-swiper-3.png" type="image/png">
                    <img src="./img-dist/sell-tree-swiper-3.png" alt="Product"  class="sell-img">
                </picture>
            </div>

            <div class="selling-swiper__stars-block">
                <span class="stars-info">
                    <img class="green-star" src="./img-dist/sprite.svg#green-star-full" alt="star">
                    <img class="white-star" src="./img-dist/sprite.svg#white-star-full" alt="star">
                </span>
                <span class="stars-info">
                    <img class="green-star" src="./img-dist/sprite.svg#green-star-full" alt="star">
                    <img class="white-star" src="./img-dist/sprite.svg#white-star-full" alt="star">
                </span>
                <span class="stars-info">
                    <img class="green-star" src="./img-dist/sprite.svg#green-star-full" alt="star">
                    <img class="white-star" src="./img-dist/sprite.svg#white-star-full" alt="star">
                </span>
                <span class="stars-info">
                    <img class="green-star" src="./img-dist/sprite.svg#green-star-full" alt="star">
                    <img class="white-star" src="./img-dist/sprite.svg#white-star-full" alt="star">
                </span>
                <span class="stars-info">
                    <img class="green-star" src="./img-dist/sprite.svg#green-star-full" alt="star">
                    <img class="white-star" src="./img-dist/sprite.svg#white-star-full" alt="star">
                </span>
            </div>
            <h3 class="selling-swiper__header">Delightful Dieffenbachia</h3>
            <p class="selling-swiper__subtitle">It is a long established fact that a reader will be distracted.</p>
            <div class="selling-swiper__buy">
                <p class="selling-swiper__buy--price price">$54.70</p>
                <a href="#" class="selling-swiper__buy--btn">Buy Now</a>
            </div>
        </div>
        <div class="selling-swiper__slide swiper-slide">
            <div class="selling-swiper__main-img">
                <picture>
                    <source srcset="./img-dist/sell-tree-swiper-2.avif" type="image/avif">
                    <source srcset="./img-dist/sell-tree-swiper-2.webp" type="image/webp">
                    <source srcset="./img-dist/sell-tree-swiper-2.png" type="image/png">
                    <img src="./img-dist/sell-tree-swiper-2.png" alt="Product"  class="sell-img">
                </picture>
            </div>

            <div class="selling-swiper__stars-block">
                <span class="stars-info">
                    <img class="green-star" src="./img-dist/sprite.svg#green-star-full" alt="star">
                    <img class="white-star" src="./img-dist/sprite.svg#white-star-full" alt="star">
                </span>
                <span class="stars-info">
                    <img class="green-star" src="./img-dist/sprite.svg#green-star-full" alt="star">
                    <img class="white-star" src="./img-dist/sprite.svg#white-star-full" alt="star">
                </span>
                <span class="stars-info">
                    <img class="green-star" src="./img-dist/sprite.svg#green-star-full" alt="star">
                    <img class="white-star" src="./img-dist/sprite.svg#white-star-full" alt="star">
                </span>
                <span class="stars-info">
                    <img class="green-star" src="./img-dist/sprite.svg#green-star-full" alt="star">
                    <img class="white-star" src="./img-dist/sprite.svg#white-star-full" alt="star">
                </span>
                <span class="stars-info">
                    <img class="green-star" src="./img-dist/sprite.svg#green-star-full" alt="star">
                    <img class="white-star" src="./img-dist/sprite.svg#white-star-full" alt="star">
                </span>
            </div>
            <h3 class="selling-swiper__header">Delightful Dieffenbachia</h3>
            <p class="selling-swiper__subtitle">It is a long established fact that a reader will be distracted.</p>
            <div class="selling-swiper__buy">
                <p class="selling-swiper__buy--price price">$54.70</p>
                <a href="#" class="selling-swiper__buy--btn">Buy Now</a>
            </div>
        </div>
        <div class="selling-swiper__slide swiper-slide">
            <div class="selling-swiper__main-img">
                <picture>
                    <source srcset="./img-dist/sell-tree-swiper-1.avif" type="image/avif">
                    <source srcset="./img-dist/sell-tree-swiper-1.webp" type="image/webp">
                    <source srcset="./img-dist/sell-tree-swiper-1.png" type="image/png">
                    <img src="./img-dist/sell-tree-swiper-1.png" alt="Product"  class="sell-img">
                </picture>
            </div>

            <div class="selling-swiper__stars-block">
                <span class="stars-info">
                    <img class="green-star" src="./img-dist/sprite.svg#green-star-full" alt="star">
                    <img class="white-star" src="./img-dist/sprite.svg#white-star-full" alt="star">
                </span>
                <span class="stars-info">
                    <img class="green-star" src="./img-dist/sprite.svg#green-star-full" alt="star">
                    <img class="white-star" src="./img-dist/sprite.svg#white-star-full" alt="star">
                </span>
                <span class="stars-info">
                    <img class="green-star" src="./img-dist/sprite.svg#green-star-full" alt="star">
                    <img class="white-star" src="./img-dist/sprite.svg#white-star-full" alt="star">
                </span>
                <span class="stars-info">
                    <img class="green-star" src="./img-dist/sprite.svg#green-star-full" alt="star">
                    <img class="white-star" src="./img-dist/sprite.svg#white-star-full" alt="star">
                </span>
                <span class="stars-info">
                    <img class="green-star" src="./img-dist/sprite.svg#green-star-full" alt="star">
                    <img class="white-star" src="./img-dist/sprite.svg#white-star-full" alt="star">
                </span>
            </div>
            <h3 class="selling-swiper__header">Delightful Dieffenbachia</h3>
            <p class="selling-swiper__subtitle">It is a long established fact that a reader will be distracted.</p>
            <div class="selling-swiper__buy">
                <p class="selling-swiper__buy--price price">$54.70</p>
                <a href="#" class="selling-swiper__buy--btn">Buy Now</a>
            </div>
        </div>
        <div class="selling-swiper__slide swiper-slide">
            <div class="selling-swiper__main-img">
                <picture>
                    <source srcset="./img-dist/sell-tree-swiper-3.avif" type="image/avif">
                    <source srcset="./img-dist/sell-tree-swiper-3.webp" type="image/webp">
                    <source srcset="./img-dist/sell-tree-swiper-3.png" type="image/png">
                    <img src="./img-dist/sell-tree-swiper-3.png" alt="Product"  class="sell-img">
                </picture>
            </div>

            <div class="selling-swiper__stars-block">
                <span class="stars-info">
                    <img class="green-star" src="./img-dist/sprite.svg#green-star-full" alt="star">
                    <img class="white-star" src="./img-dist/sprite.svg#white-star-full" alt="star">
                </span>
                <span class="stars-info">
                    <img class="green-star" src="./img-dist/sprite.svg#green-star-full" alt="star">
                    <img class="white-star" src="./img-dist/sprite.svg#white-star-full" alt="star">
                </span>
                <span class="stars-info">
                    <img class="green-star" src="./img-dist/sprite.svg#green-star-full" alt="star">
                    <img class="white-star" src="./img-dist/sprite.svg#white-star-full" alt="star">
                </span>
                <span class="stars-info">
                    <img class="green-star" src="./img-dist/sprite.svg#green-star-full" alt="star">
                    <img class="white-star" src="./img-dist/sprite.svg#white-star-full" alt="star">
                </span>
                <span class="stars-info">
                    <img class="green-star" src="./img-dist/sprite.svg#green-star-full" alt="star">
                    <img class="white-star" src="./img-dist/sprite.svg#white-star-full" alt="star">
                </span>
            </div>
            <h3 class="selling-swiper__header">Delightful Dieffenbachia</h3>
            <p class="selling-swiper__subtitle">It is a long established fact that a reader will be distracted.</p>
            <div class="selling-swiper__buy">
                <p class="selling-swiper__buy--price price">$54.70</p>
                <a href="#" class="selling-swiper__buy--btn">Buy Now</a>
            </div>
        </div>
        <div class="selling-swiper__slide swiper-slide">
            <div class="selling-swiper__main-img">
                <picture>
                    <source srcset="./img-dist/sell-tree-swiper-1.avif" type="image/avif">
                    <source srcset="./img-dist/sell-tree-swiper-1.webp" type="image/webp">
                    <source srcset="./img-dist/sell-tree-swiper-1.png" type="image/png">
                    <img src="./img-dist/sell-tree-swiper-1.png" alt="Product" class="sell-img">
                </picture>
            </div>

            <div class="selling-swiper__stars-block">
                <span class="stars-info">
                    <img class="green-star" src="./img-dist/sprite.svg#green-star-full" alt="star">
                    <img class="white-star" src="./img-dist/sprite.svg#white-star-full" alt="star">
                </span>
                <span class="stars-info">
                    <img class="green-star" src="./img-dist/sprite.svg#green-star-full" alt="star">
                    <img class="white-star" src="./img-dist/sprite.svg#white-star-full" alt="star">
                </span>
                <span class="stars-info">
                    <img class="green-star" src="./img-dist/sprite.svg#green-star-full" alt="star">
                    <img class="white-star" src="./img-dist/sprite.svg#white-star-full" alt="star">
                </span>
                <span class="stars-info">
                    <img class="green-star" src="./img-dist/sprite.svg#green-star-full" alt="star">
                    <img class="white-star" src="./img-dist/sprite.svg#white-star-full" alt="star">
                </span>
                <span class="stars-info">
                    <img class="green-star" src="./img-dist/sprite.svg#green-star-full" alt="star">
                    <img class="white-star" src="./img-dist/sprite.svg#white-star-full" alt="star">
                </span>

            </div>
            <h3 class="selling-swiper__header">Delightful Dieffenbachia</h3>
            <p class="selling-swiper__subtitle">It is a long established fact that a reader will be distracted.</p>
            <div class="selling-swiper__buy">
                <p class="selling-swiper__buy--price price">$54.70</p>
                <a href="#" class="selling-swiper__buy--btn">Buy Now</a>
            </div>
        </div>
        <div class="selling-swiper__slide swiper-slide">
            <div class="selling-swiper__main-img">
                <picture>
                    <source srcset="./img-dist/sell-tree-swiper-3.avif" type="image/avif">
                    <source srcset="./img-dist/sell-tree-swiper-3.webp" type="image/webp">
                    <source srcset="./img-dist/sell-tree-swiper-3.png" type="image/png">
                    <img src="./img-dist/sell-tree-swiper-3.png" alt="Product"  class="sell-img">
                </picture>
            </div>

            <div class="selling-swiper__stars-block">
                <span class="stars-info">
                    <img class="green-star" src="./img-dist/sprite.svg#green-star-full" alt="star">
                    <img class="white-star" src="./img-dist/sprite.svg#white-star-full" alt="star">
                </span>
                <span class="stars-info">
                    <img class="green-star" src="./img-dist/sprite.svg#green-star-full" alt="star">
                    <img class="white-star" src="./img-dist/sprite.svg#white-star-full" alt="star">
                </span>
                <span class="stars-info">
                    <img class="green-star" src="./img-dist/sprite.svg#green-star-full" alt="star">
                    <img class="white-star" src="./img-dist/sprite.svg#white-star-full" alt="star">
                </span>
                <span class="stars-info">
                    <img class="green-star" src="./img-dist/sprite.svg#green-star-full" alt="star">
                    <img class="white-star" src="./img-dist/sprite.svg#white-star-full" alt="star">
                </span>
                <span class="stars-info">
                    <img class="green-star" src="./img-dist/sprite.svg#green-star-full" alt="star">
                    <img class="white-star" src="./img-dist/sprite.svg#white-star-full" alt="star">
                </span>
            </div>
            <h3 class="selling-swiper__header">Delightful Dieffenbachia</h3>
            <p class="selling-swiper__subtitle">It is a long established fact that a reader will be distracted.</p>
            <div class="selling-swiper__buy">
                <p class="selling-swiper__buy--price price">$54.70</p>
                <a href="#" class="selling-swiper__buy--btn">Buy Now</a>
            </div>
        </div>
        <div class="selling-swiper__slide swiper-slide">
            <div class="selling-swiper__main-img">
                <picture>
                    <source srcset="./img-dist/sell-tree-swiper-2.avif" type="image/avif">
                    <source srcset="./img-dist/sell-tree-swiper-2.webp" type="image/webp">
                    <source srcset="./img-dist/sell-tree-swiper-2.png" type="image/png">
                    <img src="./img-dist/sell-tree-swiper-2.png" alt="Product"  class="sell-img">
                </picture>
            </div>
            
            <div class="selling-swiper__stars-block">
                <span class="stars-info">
                    <img class="green-star" src="./img-dist/sprite.svg#green-star-full" alt="star">
                    <img class="white-star" src="./img-dist/sprite.svg#white-star-full" alt="star">
                </span>
                <span class="stars-info">
                    <img class="green-star" src="./img-dist/sprite.svg#green-star-full" alt="star">
                    <img class="white-star" src="./img-dist/sprite.svg#white-star-full" alt="star">
                </span>
                <span class="stars-info">
                    <img class="green-star" src="./img-dist/sprite.svg#green-star-full" alt="star">
                    <img class="white-star" src="./img-dist/sprite.svg#white-star-full" alt="star">
                </span>
                <span class="stars-info">
                    <img class="green-star" src="./img-dist/sprite.svg#green-star-full" alt="star">
                    <img class="white-star" src="./img-dist/sprite.svg#white-star-full" alt="star">
                </span>
                <span class="stars-info">
                    <img class="green-star" src="./img-dist/sprite.svg#green-star-full" alt="star">
                    <img class="white-star" src="./img-dist/sprite.svg#white-star-full" alt="star">
                </span>
            </div>
            <h3 class="selling-swiper__header">Delightful Dieffenbachia</h3>
            <p class="selling-swiper__subtitle">It is a long established fact that a reader will be distracted.</p>
            <div class="selling-swiper__buy">
                <p class="selling-swiper__buy--price price">$54.70</p>
                <a href="#" class="selling-swiper__buy--btn">Buy Now</a>
            </div>
        </div>
    </div>
    <!-- <div class="swiper-button-next-selling header-swiper-btn header-swiper-next"></div>
    <div class="swiper-button-prev-selling header-swiper-btn header-swiper-prev"></div> -->
</div>